* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    width: 100%;
}

#container {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/************* Nav Bar *****************/

#menu {
    /* width: 200px; */
    float: right;
    margin: 15px 18px;
    text-align: right;
    border: 1px solid red;
}

#menu #navbar {
    width: 200px;
    display: inline-flex;    
}

#menu #navbar .navbartop {
    margin: 5px;
}

#menu #navbar .navbartop a {
    text-decoration: none;
    color: #000000DE;
    padding: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

#menu #navbar .navbartop a:hover {
    text-decoration: underline;
}

#app-icon img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 8px;
    margin-left: 9px;
}

#navbarimage img {
    border-radius: 50%;
}

/*********** Body ************/

#search {
    width: 700px;
    text-align: center;
    margin: auto;
    padding-top: 155.5px;
}

#google {
    width: 700px;
    height: 300px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

#google #googlelogo {
    width: 700px;
    height: 92px;
    margin-bottom: 8px;
}

#searchbox input {
    border: 1px solid #e4e4e4;
    width: 550.5px;
    height: 44px;
    border-radius: 30px;
    outline: none;
    padding-left: 30px;
}

#searchbox input:hover {
    box-shadow: 1px 1px 1px #88888888;
}

#btn {
    padding-right: 25px;
    margin-top: 10px;
}

#google #btn .btn1 {
    border: 0px;
    border-radius: 5px;
    width: 130px;
    height: 36px;
    background: #f2f2f2;
    color: #5f6368;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    padding-left: 3px;
}
#btn-box1 {
    padding-right: 10px;
}

#google #btn .btn1:hover {
    border: 1px solid #d1cebd;
    color: #3f4441;
    box-shadow: 1px 1px 1px #88888888;
}

#google #btn .btn1:active {
    border: 0px;
}

#language {
    display: inline-flex;
    font-size: 12px;
    margin-top: 25px;
}

#language div, a {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #000000DE;
}

#language a {
    text-decoration: none;
    color: #1A0DAB;
}

#language a:hover {
    text-decoration: underline;
}
/********** Footer **********/

#end {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
    margin-top: 95px;
}

#end #nig {
    border-top: 1px solid #e4e4e4;
    padding-left: 27px;
    height: 30px;
    padding-top: 10px;
    color: gray;
}

#end #nig a {
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
}

#end #endlinks {
    border-top: 1px solid #e4e4e4;
    padding-left: 10px;
    padding-top: 10px;
    height: 30px;
}

#end #endlinks a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    margin-left: 15px;
}
span#endlink-right {
    float: right;
    padding-right: 25px;
}
#end #endlinks a:hover {
    text-decoration: underline;
}

